<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    {% if username %}

    Я знаю твой профиль на <a href="{{ github_url }}">github</a>!
        <p>Тут ты можешь <a href="logout">выйти</a></p>
    {% else %}
        <p>Привет, тебе необходимо <a href="login">войти</a></p>
    {% endif %}
</body>
</html>