{% extends 'base_with_navbar.html' %}

{% block extra_title %}
Создание авторов и книг
{% endblock %}

{% block extra_content %}
<h2>Форма для создания нескольких авторов и книг</h2>
<form method="post"> 
  {{ author_formset.management_form }} 
  {% csrf_token %}  
  {% for form in author_formset %}  
        {{ form.as_ul }}  
        <br>  
  {% endfor %}  
  {{ book_formset.management_form }}
  {% for form in book_formset %}  
        {{ form.as_ul }}  
        <br>  
  {% endfor %}  
    <input type="submit" value="Сохранить"/>  
</form>  
{% endblock %}