{% extends 'base_with_navbar.html' %}

{% block extra_title %}
Редакции
{% endblock %}

{% block extra_content %}
    <h2>Перечень редакций и книг которие они издают</h2>
    {% for redaction in redactions %}
        <ul class="list-group">
            <li class="list-group-item">
                {{ redaction.name }}
                <ul class="list-group">
                    {% for book in redaction.books.all %}
                        <li class="list-group-item"> {{ book.title }}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endfor %}

{% endblock %}
